h1{
	color: white;
}
.body-bodrer-left-right{
	margin-right: 25%;
	margin-left: 25%;
}
.img-background-header{
	background-image: url(../img/black_image_background_header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.block{
	height: 820px;
}
.message{
	border:  1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}